<div style="padding-bottom:70px;"></div>
<div class="header-bookings" style="height: 100px;">
  <div class="container1">
    <h1 class="p-5" style="text-align: center ">Vos reservations</h1>

    </div>
</div><br><br>
<div class="container">
<ul class="list-inline tabs-underlined justify-content-center" >
  <li>
    <%= link_to "Candidatures " , bookings_path(status:["En Attente","Discussion"]), class: "tab-underlined #{'activex' if params[:status] == ["En Attente","Discussion"]}" %>
  </li>

  <li>
    <%= link_to "Validées", bookings_path(status:"Acceptée"), class: "tab-underlined #{'activex' if params[:status] == 'Acceptée'}"  %>
  </li>
  <li>
    <%= link_to "Archivées", bookings_path(status:["Refusée","Annulée"]), class: "tab-underlined #{'activex' if params[:status] == ["Refusée", "Annulée"]}"  %>
  </li>

</ul>
  <br>
  <br>
<br>

<div class="container-booking">
<% @bookings.each do |booking| %>

  <% if current_user == booking.user %>
  <div class="bodycard">
    <div class="card-content">
      <div class="card-product justify-content-left">
        <%= cl_image_tag booking.offer.user.photo.key, class:"border border-primary"  %>
        <div class="card-product-infos">
          <div class="d-flex justify-content-between">
            <span class="badge badge-pill badge-secondary p-2">Landlord</span>
            <span class="badge badge-pill badge-dark justify-content-right p-2"><%= booking.status %></span>
          </div>
          <h2><%= booking.offer.name %></h2>
          <p>Entreprise : <strong><%= booking.offer.user.name %></strong></p>
          <span class="badge badge-pill <%= matching_color(booking.offer.matching_r(@user_logged)) %>"> Matching <%= booking.offer.matching_r(@user_logged) %>%</span>
        </div>
      </div>
      <button class="collapsible">Réponses aux questions</button>
      <div class="content">
        <h5><%= booking.offer.question1 %></h5>
        <em><%= booking.answer1 %></em>
        <h5><%= booking.offer.question2 %></h5>
        <em><%= booking.answer2 %></em>
        <h5><%= booking.offer.question3 %></h5>
        <em><%= booking.answer3 %></em>
      </div>
    </div>

    <div class="btn-part">
    <% if booking.status == "En Attente" %>
      <%= link_to "Annuler", booking_cancel_path(booking), method: :get, class: "btn btn-secondary btn-sm" %><br>
    <% elsif booking.status == "Discussion"   %>
      <%= link_to "Discussion", chatroom_path(booking.chatroom.id), method: :get, class: "btn btn-info btn-sm" %><br>
      <%= link_to "Annuler", booking_cancel_path(booking), method: :get, class: "btn btn-secondary btn-sm" %><br>
    <% else %>
    <% end%>
    </div>
  </div>




    <br>
    <br>


    <% elsif current_user == booking.offer.user %>
    <div class="bodycard">
      <div class="card-content">
    <div class="card-product justify-content-left">
      <%= cl_image_tag booking.user.photo.key, class:"border border-primary"  %>
      <div class="card-product-infos">
        <div class="d-flex justify-content-between">
          <span class="badge badge-pill badge-dark p-2">Locataire</span>
          <span class="badge badge-pill badge-dark justify-content-right p-2"><%= booking.status %></span>
        </div>
        <h2><%= booking.offer.name %></h2>
        <p>Entreprise: <strong><%= booking.user.name %></strong></p>
        <span class="badge badge-pill <%= matching_color(booking.offer.matching_r(booking.user)) %>"> Matching <%= booking.offer.matching_r(booking.user) %>%</span>
      </div>
    </div>
    <button class="collapsible">Réponses aux questions</button>
    <div class="content">
        <h5><%= booking.offer.question1 %></h5>
        <em><%= booking.answer1 %></em>
        <h5><%= booking.offer.question2 %></h5>
        <em><%= booking.answer2 %></em>
        <h5><%= booking.offer.question3 %></h5>
        <em><%= booking.answer3 %></em>
      </div>
      </div>
    <br>
    <div class="btn-part">
    <% if booking.status == "En Attente" %>
      <%= link_to "Lancer la discussion", booking_accepter_discuss_path(booking), class: "btn btn-primary btn-sm" %><br>
      <%= link_to "Refuser", booking_refused_path(booking), class: "btn btn-secondary btn-sm" %><br>
    <% elsif booking.status == "Discussion"   %>
      <%= link_to "Discussion", chatroom_path(booking.chatroom.id), method: :get, class: "btn btn-info btn-sm" %><br>
      <%= link_to "Accepter ", booking_accepter_path(booking), class: "btn btn-primary btn-sm" %><br>
      <%= link_to "Refuser", booking_refused_path(booking), class: "btn btn-secondary btn-sm" %><br>
    <% else%>
    <% end%>
    </div>
    </div>

    <br>
    <br>
  <% end %>

<% end%>
</div>








<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
};


// const tabs = document.querySelectorAll('.tab-underlined');

// const toggleActive = (event) => {
//   event.currentTarget.classList.toggle('activex')
// }

// const bindTab = (tab) => {
//   tab.addEventListener('click', toggleActive)
// }

// tabs.forEach(bindTab)

</script>





