<div style="padding-bottom:70px;"></div>
<div class="header-bookings" style="height: 100px;">
  <div class="container1">
    <h1 class="p-5" style="text-align: center ">Vos reservations</h1>

    </div>
</div><br><br>
<div class="container">
<ul class="list-inline tabs-underlined justify-content-center" >
  <li>
    <%= link_to "Candidatures " , bookings_path(status:["En Attente","Discussion"]), class: "tab-underlined #{'activex' if params[:status] == ["En Attente","Discussion"]}" %>
  </li>

  <li>
    <%= link_to "Validées", bookings_path(status:"Acceptée"), class: "tab-underlined #{'activex' if params[:status] == 'Acceptée'}"  %>
  </li>
  <li>
    <%= link_to "Archivées", bookings_path(status:["Refusée","Annulée"]), class: "tab-underlined #{'activex' if params[:status] == ["Refusée", "Annulée"]}"  %>
  </li>

</ul>
  <br>
<!--   <br>
  <br> -->

<div class="container-booking">
<div class="list-inline tabs-underlined justify-content-center px-3" >
  <div class="w-25" id="field">Entreprise
  </div>
  <div class="w-25" id="field">Matching
  </div>
  <div class="w-25" id="field">Statut
  </div>
  <div class="w-25" id="field">Action
  </div>
</div>


<% @bookings.each do |booking| %>

      <div class="card-content">
        <div class="card-product py-4 px-3">
        <div class="image-name-card">
          <% if current_user == booking.offer.user %>
            <%= cl_image_tag booking.user.photo.key, class:"border border-primary"  %>
            <br>
            <span id="Name"><%= booking.user.name %></span>
            <br>
            <span class="Locataire-Landlord">Locataire</span>
          <% else %>
            <%= cl_image_tag booking.offer.user.photo.key, class:"border border-primary"  %>
            <br>
            <span id="Name"><%= booking.offer.user.name %></span>
            <br>
            <span class="Locataire-Landlord">Propriétaire</span>
          <% end %>
        </div>
        <div class="matching-range">
          <span class="matching-text"><%= booking.offer.matching_r(booking.user) %></span>%
        </div>
        <div class="card-booking-status">
          <span class="badge badge-pill   p-2"><%= booking.status %></span>
        </div>
        <div class="btn-part-booking">
        <% if current_user == booking.offer.user %>
          <% if booking.status == "En Attente" %>
            <%= link_to ('<i class="far fa-comment-dots"></i>').html_safe, booking_accepter_discuss_path(booking), class: "btn-booking circle_purple" %>
            <%= link_to ('<i class="fas fa-times"></i>').html_safe, booking_refused_path(booking), class: "btn-booking circle_red" %>
          <% elsif booking.status == "Discussion"   %>
            <%= link_to ('<i class="far fa-comment-dots"></i>').html_safe, chatroom_path(booking.chatroom.id), method: :get, class: "btn-booking circle_purple" %>
            <%= link_to ('<i class="fas fa-check"></i>').html_safe, booking_accepter_path(booking), class: "btn-booking circle_green" %>
            <%= link_to ('<i class="fas fa-times"></i>').html_safe, booking_refused_path(booking), class: "btn-booking circle_red" %>
          <% else%>
          <% end%>
        <% else%>
          <% if booking.status == "En Attente" %>
            <%= link_to ('<i class="fas fa-times"></i>').html_safe, booking_cancel_path(booking), method: :get, class: "btn-booking circle_red" %>
          <% elsif booking.status == "Discussion"   %>
            <%= link_to ('<i class="far fa-comment-dots"></i>').html_safe, chatroom_path(booking.chatroom.id), method: :get, class: "btn-booking circle_purple" %>
            <%= link_to ('<i class="fas fa-times"></i>').html_safe, booking_cancel_path(booking), method: :get, class: "btn-booking circle_red" %>
          <% else%>
          <% end%>
        <% end%>
        </div>
      </div>
      <% if current_user == booking.offer.user %>
        <button class="collapsible">Réponses à vos questions <i class="fas fa-long-arrow-alt-down"></i></button>
      <% else %>
        <button class="collapsible">Vos réponses aux questions <i class="fas fa-long-arrow-alt-down"></i></button>
        <% end %>
      <div class="content">
        <div class="pt-2 pb-4">
          <h5 class="h5_question"><%= booking.offer.question1 %></h5>
          <em class="h5_answer"><%= booking.answer1 %></em>
          <h5 class="h5_question"><%= booking.offer.question2 %></h5>
          <em class="h5_answer"><%= booking.answer2 %></em>
          <h5 class="h5_question"><%= booking.offer.question3 %></h5>
          <em class="h5_answer"><%= booking.answer3 %></em>

        </div>
      </div>
    </div>
    <br>
    <!-- <br> -->
    <br>
  <% end %>
</div>








<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
};


// const tabs = document.querySelectorAll('.tab-underlined');

// const toggleActive = (event) => {
//   event.currentTarget.classList.toggle('activex')
// }

// const bindTab = (tab) => {
//   tab.addEventListener('click', toggleActive)
// }

// tabs.forEach(bindTab)

</script>





