<div class="user-header">
<div class="my-auto">
      <%= cl_image_tag @user.photo.key, class: "img_header" %>
      <div class="name_company_div">
           <h2 class="c6"><%=@user.name%></h2>
      </div>
    </div>

    <div class="d-flex item" style ="margin-bottom: 3%">
      <i class="fab fa-cloudsmith pr-2"></i><h2 class="c5"><%=@user.field%></h2>
      <i class="fas fa-map-marker pl-3 pr-2"></i><h2 class="c5"><%=@user.hq_address%></h2>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Annonces</a>
      </li>
    </ul>
</div>

<div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active bg-white" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row justify-content-between p-5">
          <div class="col-md-4">
            <div class="al-img-block d-flex align-items-center h-100">
              <img src="https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" height="100%" width="100%" style="object-fit: cover;">
            </div>
          </div>
          <div class="col-md-3">
            <div class="card-user justify-content-center">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-center"><h4 class="c2">Année de Création</h4>
                  <h4 class="text-center c4"><%=@user.year_of_creation%></h4>
                </li>
                <li class="list-group-item text-center"><h4 class="c2">Nombre de collaborateurs</h4>
                  <h4 class="text-center c4"><%=@user.number_of_employees%></h4>
                </li>
                    <li class="list-group-item text-center"><h4 class="c2">Âge moyen</h4>
                  <h4 class="text-center c4"><%=@user.average_age%> ans</h4>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="al-txt-block">
              <h2 class="mb-3 border-bottom">Qui <strong>sommes-nous</strong> ?</h2>
              <p class="text-justify"><%=@user.description%></p>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade bg-white" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="mt-5">
          <%= link_to 'Nouvelle Annonce',  new_offer_path, class: "btn btn-subdesk-sec"%>
          <div class="m-5" style="border-bottom: 1px solid black;">
            <h4 class="text-align-left pt-3 pl-5">
                    <% cards_count = 0 %>
                    <% Offer.all.each do |offer| %>
                    <% if offer.user ==  @user%>
                      <%cards_count += 1 %>
                      <% else %>
                      <%end%>
                      <%end%>
                    <%if cards_count = 1%>
                     <strong><span class="nb-results"><%=cards_count%></span></strong> annonce postée
                    <%else%>
                      <strong><span class="nb-results"><%=cards_count%></span></strong> annonces postées
                    <%end%>


            </h4>
          </div>
        </div>
        <div class="d-flex mt-5">
          <div class="cardprofile container align-items-center justify-content-center col-8">
            <%Offer.all.each do |offer|%>
            <% if offer.user ==  @user%>
              <%= link_to offer_path(offer.id) do%>
              <div class="card-product ml-5">
                <% offer.photos.each do |photo| %>
                  <%= cl_image_tag photo.key,crop: "fill", class:"imagecard", style:"border-radius: 10px;"%>
                <%end%>
                <div class="card-body">
                    <h4 class="font-weight-bold mb-2"><%= offer.name%></h4>
                    <br>
                    <p><i class="fas fa-male"></i> <%=offer.seats%></p>
                    <br>

                    <p><%=offer.address%></p>
                    <div class="float-right">
                        <span class="price">
                            <span class="currency"><%= offer.price%>€</span>
                            <span class="month">/MOIS</span>
                        </span>
                    </div>
                </div>

                </div>
            </div>
            <%end%>
          <%end%>
          <%end%>
          <div id="map" class="map1 col-4"
               style="width: 90%; height: 100vh;"
               data-markers="<%= @markers.to_json %>"
               data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>


      </div>
      </div>
      </div>
</div>




































