
      <%= link_to offer_path(offer.id) do%>
      <div class="card promoting-card d-flex" style="width: 350px; border-radius: 10px; box-shadow: 0 14px 28px rgba(0,0,0,0.25)">
        <!-- Card image -->
        <div class="view overlay">
        <% offer.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 230, width: 350, crop: "fill", class:"imagecard"%>
        <p class="text-center badge badge-pil <%= matching_color(offer.matching_r(@user_logged)) %>"> Matching: <%= offer.matching_r(@user_logged) %>%</p>
        <%end%>
        </div>
        <!-- Card content -->
        <div class="card-body">
          <div class="collapse-content">
            <!-- Text -->
          <div class="d-flex justify-content-between">
            <h4 class="font-weight-bold mb-2"><%= offer.user.name%></h4>
            <p><i class="fas fa-male"></i> <%=offer.seats%></p>
          </div>
            <p><%=offer.address%></p>
             <!-- Button -->
            <div class="float-right">
                <span class="price">
                    <span class="currency"><%= offer.price%>€</span>
                    <span class="month">/MOIS</span>
                </span>
            </div>
          </div>
        </div>
      </div>
    <%end%>
