<html>

<div class="container justify-content-center mt-3">
<div class="card">
<div class="card-body">
<div class="container">
  <div class="row">
    <div class="col">
    <div class="card" style="width: 16rem; padding: 16px; border-radius:8px;">
    <h4><strong><%=@offer.user.name%></strong></h4>
    <p><%=@offer.address%></p>
    <p><%=@offer.seats%> siège disponibles</p>
    <p><%=@offer.price%> €/poste</p>
    <%if @offer.user != current_user%>
    <%= link_to "j'emménage", new_offer_booking_path(params[:id]), class:"btn btn-outline-primary" %>
    <%end%>
    <%= cl_image_tag @offer.user.photo.key%>
    </div>
    </div>
    <div class="col-6">
      <div>
        <h2 style="text-decoration:underline;">Description</h2>
        <br>
        <%length = @offer.description.split.length%>
        <% x = @offer.description.split[(0..length/2)].join(" ")%>
        <% y = @offer.description.split[(length/2 + 1..@offer.description.split.length-1)].join(" ")%>
      <%=x%>
      <br><br>
      <% @offer.photos.each do |photo| %>
        <%= cl_image_tag photo.key, class:"img-fluid" %>
      <% end %>
      <br><br>
      <%=y%>
      <br><br>
      </div>

      <div class="d-flex justify-content-center" style="padding-right:10px;">
      <% if @offer.user == current_user %>
        <%= link_to 'Edit offer', edit_offer_path, class:"btn btn-outline-primary" %>
        <%= button_to "delete", {:controller => :offers,
            :action => 'destroy', :id => @offer.id }, :method => :delete, class:"btn btn-outline-primary"  %>
      <%else%>
        
        <br>
      <%end%>
    <br>
    <%= link_to 'Home', root_path, class:"btn btn-outline-primary" %>
    </div>
    </div>
   <div class="col">
   <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
</div>
</div>
</div>
</html>