<div class="user-header">
  <div class="my-auto">
      <%= cl_image_tag @offer.user.photo.key, class: "img_header" %>
      <div class="name_company_div">
           <h2 class="c6"><%=@offer.name%></h2>
      </div>
  </div>
</div>


<div class="wrapper" style="margin:4vw;">
<div class="card">
<div class="card-body pt-5">

  <div class="row d-flex">
    <div class="col-3">
    <div class="card" style="width: 100%; padding: 16px; border-radius: 10px;position: -webkit-sticky; position: sticky; top: 20px; box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);">
    <h4 class="mx-auto"><strong><%=@offer.user.name%></strong></h4>
    <%= link_to user_path(@offer.user_id) do %>
    <%= cl_image_tag @offer.user.photo.key, class:"img-thumbnail"%>
    <%end%>
    <div style="text-align:left; font-size:14px;">
    <br>
    <p><i class="fas fa-map-marker"></i> <%=@offer.address%> </p>
    <p><i class="fas fa-male"></i> <%=@offer.seats%> </p>
    <p><%=@offer.price%> <i class="fas fa-euro-sign"></i> / <i class="fas fa-male"></i></p>
    </div>
    <%if @offer.user != current_user%>
    <%= link_to "Je candidate", new_offer_booking_path(params[:id]), class:"btn btn-subdesk" %>
    <%else%>
    <%= link_to 'Modifier votre offre', edit_offer_path, class:"btn btn-subdesk"%>
    <%= button_to "Supprimer l'offre", {:controller => :offers,
      :action => 'destroy', :id => @offer.id }, :method => :delete, class:"btn btn-subdesk", style:"margin-top:15px;" %>

    <%end%>
    </div>
    </div>
    <div class="col-6 px-5">
      <div class="text-left">
        <h2 style="font-weight: bolder;">Description</h2>
        <br>
        <%length = @offer.description.split.length%>
        <% x = @offer.description.split[(0..length/2)].join(" ")%>
        <% y = @offer.description.split[(length/2 + 1..@offer.description.split.length-1)].join(" ")%>
      <%=x%>
      <br><br>
      <% @offer.photos.each do |photo| %>
        <%= cl_image_tag photo.key, class:"img-fluid" %>
      <% end %>
      <br><br>
      <%=y%>
      <br><br>
      </div>

    </div>
   <div class="col-3">
   <div class="sticky", style="position: -webkit-sticky; position: sticky; top: 20px;">
   <div id="map"
     style="width: 100%; height: 100vh; border-radius: 10px; align-items:left; box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

</div>
</div>

</div>
</div>

